
services:
  mysql:
    image: mysql:8.0
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "Pa55w.rd"
      MYSQL_DATABASE: "archer_club_db"
      MYSQL_USER: "appuser"
      MYSQL_PASSWORD: "Pa55w.rd"
    volumes:
      - db_data:/var/lib/mysql
      - ./internal/database/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - database_network

  menu-service:
    build:
      context: .
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    restart: unless-stopped
    environment:
      DBHOST: "mysql"
      DBPORT: "3306"
      DBUSER: "appuser"
      DBPASSWORD: "Pa55w.rd"
      DBNAME: "archer_club_db"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - database_network

volumes:
  db_data:

networks:
  database_network:
    driver: bridge
